

*{
    box-sizing: border-box;
    margin: 0;
    --primary-color:#D3D3D3;
    --secondary-color: #384C7A;
    --h1-font: "Londrina Sketch",sans-serif;
    --heading-font: "LXGW WenKai Mono TC",halvetica;

}
.wireframe{
    text-align: center;
}
.wireframe p{
    text-align: center;
}

#primary{
    background-color: var(--primary-color);
}
#secondary{
    background-color: var(--secondary-color);
}

#accent1{
    background-color: #ffff;
}
#accent2{
    background-color: black;
    color: #ffff;
}
h1{
    text-align: center;
    font-family:var(--h1-font);
    background-color:var(--primary-color);
    padding: 20px;
    color:#ffff;
    font-size: 2.5em;
}
 h2, h3, h4,a{
    font-family: var(--heading-font);
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 5px;
 }
 
 h4{
    text-decoration: none;
    
 }

 p, ul{
    font-family: var(--para-font);
    text-align: center;
    margin:5px 15px;
    line-height: 1.5em;
 }

 li{
    list-style-type:none;
 }

#example{
    background-color:white;
    color: black;
}

table{
    margin-left:auto;
    margin-right: auto;
}
table, td, th{
    border: 2px solid black;
    font-size: 1.2em;

}

#colored-para{
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
}
